@charset "GBK";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_form.sass */
p {
  margin: 10px 0;
}

/* line 3, ../sass/_form.sass */
input {
  padding: 5px;
}

/* line 5, ../sass/_form.sass */
input.default {
  color: #828282;
}

/* line 13, ../sass/_form.sass */
#form-example input, #form-example-2 input {
  display: block;
}
/* line 15, ../sass/_form.sass */
#form-example label, #form-example-2 label {
  display: block;
  margin-top: 10px;
}
/* line 18, ../sass/_form.sass */
#form-example .submit, #form-example-2 .submit {
  margin-top: 10px;
}

/* line 22, ../sass/_form.sass */
.disable {
  background: #dfdfdf;
}

/* line 25, ../sass/_form.sass */
.highlight {
  background: yellow;
  padding: 5px;
}

/* line 29, ../sass/_form.sass */
.left-box, .right-box {
  width: 400px;
  float: left;
}

/* line 1, ../sass/_layout.sass */
#wrap {
  margin: 0 auto;
  width: 960px;
}

/* line 5, ../sass/_layout.sass */
#container {
  margin: 0 auto;
}

/* line 8, ../sass/_layout.sass */
body {
  background-color: white;
}

/* line 18, ../sass/_table.sass */
.overview {
  width: 90%;
  margin: 1em auto;
}

/* line 21, ../sass/_table.sass */
.even {
  background-color: white;
}

/* line 26, ../sass/_table.sass */
table {
  font-size: 12px;
  font-family: "Trebuchet MS", ​Verdana, ​Arial, ​Helvetica, ​sans-serif;
  line-height: 1.6em;
  color: #6680a0;
}
/* line 31, ../sass/_table.sass */
table caption {
  text-align: center;
  line-height: 3em;
}
/* line 34, ../sass/_table.sass */
table tr {
  background-color: #f7fbff;
}
/* line 36, ../sass/_table.sass */
table tr th, table tr td {
  text-align: center;
  border: 1px solid #e5eff8;
  padding: 0.3em 1em;
}
/* line 40, ../sass/_table.sass */
table thead th, table tfoot th {
  font-weight: bold;
  font-size: 14px;
  line-height: 2em;
  color: #65a3d2;
  padding: 10px 1em;
}
/* line 46, ../sass/_table.sass */
table tbody th {
  text-align: left;
}
