p
    margin: 10px 0
input
    padding: 5px
input.default
    color: #828282

// form the example
@mixin block
    display: block
$space : 10px
#form-example
    input
        @include block
    label
        @include block
        margin-top: $space
    .submit
        margin-top: $space
    

.disable
    background: #DFDFDF

.highlight
    background: yellow
    padding: 5px


