.special
    background: #6AAF18
    text-align: center
    font-size: 22px
    color: #FFF
    font-weight: bold

#table_nav
    a
        text-decoration: none
        padding: 0 5px
    a.active
        color: #FFF
        background: #F73C53
